# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Vite files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/

# vitepress build output
**/.vitepress/dist
**/.vitepress/cache
